<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />                   <!-- Permite que la app acceda a la cámara del dispositivo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />   <!-- Permite que la app escriba en el almacenamiento externo, necesario para guardar fotos tomadas -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SerasCardsStore">
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Mis_Menus.DigiMain"
            android:exported="false" />
        <activity
            android:name=".Registro_email"
            android:exported="false" />
        <activity
            android:name=".Mis_Menus.MenuTCG"
            android:exported="false" />
        <activity
            android:name=".Opciones_Login.Login_email"
            android:exported="false" />
        <activity
            android:name=".OpcionesLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!-- COMENTARIOS PERSONALES

Cuando haces click en “Add uses-feature tag”, Android Studio agrega algo como esto en tu AndroidManifest.xml:

<uses-feature android:name="android.hardware.camera" android:required="true" />

Qué significa cada parte:
android:name="android.hardware.camera" → Indica que tu app hace uso de la cámara del dispositivo.
android:required="true" → Significa que la app requiere obligatoriamente una cámara para funcionar.
Si pones false, la app puede instalarse en dispositivos sin cámara, pero obviamente la funcionalidad de la cámara no estará disponible.

-->